{% extends 'admin-site/auth/main.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="d-flex justify-content-center w-100 h-100 row">
        <div class="col-md-6 col-sm-12 m-auto row">
            <form id="signup-form" class="card w-100" action="{% url 'admin-stage-add-url' %}" method="post">
                <div class="card-header">
                    <h4 class="text-info font-weight-bolder">Add New Stage</h4>
                </div>

                <div class="card-body d-block">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>

                <div class="card-footer d-flex">
                    <a class="btn btn-primary w-25 m-auto" href="{% url 'admin-dashboard-url' %}">Back</a>
                    <button class="btn btn-success w-25 m-auto" type="submit" value="Save">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
