{% extends 'other/main.html' %}
{% block content %}
    <div class="row w-100 pt-2">
        <form id="signup-form" class="card col-sm-12 col-md-7 m-auto" action="{% url 'emergency-contact-add-url' %}" method="post">
            <div class="card-header">
                <h4 class="text-info font-weight-bolder">Add Emergency Contact</h4>
            </div>

            <div class="card-body d-block">
                {% csrf_token %}

                <div class="row">
                    <label for="member" class="col-md-12 col-lg-12 col-sm-12">
                            Choose A Stage Member To Add As Emergency Contact*
                        <br>
                        <select id="member" name="member" required>
                            <option value="">Choose...</option>
                            {% for member in members %}
                                {% if not member.is_emergency_contact %}
                                    <option class="text-capitalize" value="{{ member.id }}">{{ member.first_name }} {{ member.second_name }} {{ member.last_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>

            <div class="card-footer d-flex">
                <a class="btn btn-primary w-25 m-auto" href="{% url 'emergency-contacts-url' %}">Back</a>
                <button class="btn btn-success w-25 m-auto" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
