{% extends 'other/main.html' %}
{% block content %}
    <div class="row w-100">
        <form id="signup-form" class="card col-sm-12 col-md-7 m-auto" action="{% url 'sign-up-url' %}" method="post">
            <div class="card-header text-center">
                <h4 class="text-info font-weight-bolder">STAGE ADMIN REGISTRATION</h4>
            </div>

            <div class="card-body d-block">
                {% csrf_token %}
                <div class="row">
                    <label for="firstname" class="col-md-4 col-lg-4 col-sm-12">
                        Your First name:
                        <br>
                        <input type="text" id="firstname" name="firstname" required>
                    </label>
                    <label for="second-name" class="col-md-4 col-lg-4 col-sm-12">
                        Your Second name:
                        <br>
                        <input type="text" id="second-name" name="second_name">
                    </label>
                    <label for="lastname" class="col-md-4 col-lg-4 col-sm-12">
                        Your Last name:
                        <br>
                        <input type="text" id="lastname" name="lastname" required>
                    </label>
                </div>

                <div class="row">
                    <label for="phone" class="col-md-4 col-lg-4 col-sm-12">
                        Your Phone Number:
                        <br>
                        <input type="text" id="phone" name="phone">
                    </label>
                    <label for="id" class="col-md-4 col-lg-4 col-sm-12">
                        Your ID:
                        <br>
                        <input type="number" id="id" name="id">
                    </label>
                    <label for="email" class="col-md-4 col-lg-4 col-sm-12">
                        Your Email:
                        <br>
                        <input type="email" id="email" name="email" required>
                    </label>
                </div>
                <div class="row">
                    <label for="gender" class="col-md-12 col-lg-12 col-sm-12">
                        Your Gender:
                        <br>
                        <select id="gender" name="gender" required>
                            <option value="">Choose...</option>
                            {% for gender in genders %}
                                <option class="text-capitalize" value="{{ gender.id }}">{{ gender.gender_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="row">
                    <label for="stage" class="col-md-6 col-lg-6 col-sm-12">
                        Your Stage:
                        <br>
                        <select id="stage" name="stage" required>
                            <option value="">Choose...</option>
                            {% for stage in stages %}
                                <option class="text-capitalize" value="{{ stage.id }}">{{ stage.stage_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="bike_number" class="col-md-6 col-lg-6 col-sm-12">
                        Your Motorbike number:
                        <br>
                        <input type="text" id="bike_number" name="bike_number" required>
                    </label>
                </div>
            </div>

            <div class="card-footer text-center">
                <button class="btn btn-success" type="submit" value="Submit">Submit</button>
                <h6>You have an account? <a href="{% url 'sign-in-url'%}">Sign in</a></h6>
            </div>
        </form>
    </div>
{% endblock %}
